.modal__content {
  width: 100%;
  max-width: 430px;
  color: #000;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width:576px) {
  .modal__content {
    padding: 36px;
  }
}

@media (max-width:575px) {
  .modal__content {
    padding: 25px 22px;
  }
}
