.profile__info-heading {
  display: flex;
  align-items: center;
}

@media (min-width:576px) {
  .profile__info-heading {
    margin: 0 0 16px;
  }
}

@media (max-width:575px) {
  .profile__info-heading {
    margin: 0 0 14px;
  }
}