.profile__subtitle {
  max-width: 294px;
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:575px) {
  .profile__subtitle {
    font-size: 14px;
  }
}